.main-wrapper{
    min-width: 60%;
    max-width: 80%;
    display: flex;
    margin: 20px auto 0 auto;
}

.list {
    width: 100%
}

.card {
    padding: 10px;
}

.edit-icon {
    float: right;
    cursor: pointer;
}
.source__text{
    float: right;
}

.image{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}